<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="X-Powered-By" value="KruinHosting-Local-IIS10" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
